.title{
font-weight:bold; 
color:black;
}
.comment{
color:blue;
font-style:italic; 
}

.result tr:nth-child(even) 
{  background-color:#bdc1ba;
width:100%;
border=0;
 }
.result tr:nth-child(odd) 
{  background-color:#e4e5e4;
width:100%;
 }



td{
border:0px;
cell-spacing:0;
}
table.result{
width:100%;
border-collapse: collapse;
}


body
{background: white;
}
.question
{
background-color:gray;
height:60px;
font-weight:bold; 
font-size:19;
color: Black; 
}
.bluetabs
{
border-bottom: 1px solid gray;
}

.bluetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.bluetabs li{
display: inline;
margin: 0;
}

.bluetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(/images/bluetab.gif) top left repeat-x; /*THEME CHANGE HERE*/
}

.bluetabs li a:visited{
color: #2d2b2b;
}

.bluetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.bluetabs li.selected{
}

.bluetabs li.selected a{ /*selected main tab style */
background-image: url(/images/bluetabactive.gif); /*THEME CHANGE HERE*/
border-bottom-color: white;
}

.bluetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}


