@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/

body
{background: white;
}
.question
{
height:40px;
font-weight:bold; 
font-size:18;
color: Black; 
}
.row
{
margin-top:50px;
}
/*This section is for links*/
a:link
{font-weight:normal; color:Navy
}
a:visited
{font-weight:normal; color:Green;
}
a:hover
{font-weight:bold; color: Red; font-variant:small-caps;
}
/*This section is for a paragraph section*/
p {font-style:italic; font-size:18px;
}
blue {color:#0000FF;
}
/*This section is for the image's black border.*/
img {border-color: #000000; border:thick; border-style:ridge;
}
